<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xm.studyproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AnimActivity"></activity>
        <activity
            android:name=".android.Aidl2Activity"></activity>
        <activity android:name=".android.AIDLActivity"></activity>
        <activity android:name=".java.annotation.processorActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".android.aidl.AIDLService"
            android:enabled="true"
            android:exported="false"
            android:process=":aidlService">
            <intent-filter>
                <action android:name="com.xm.studyproject.service" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <!-- android:exported 是Android中的四大组件 Activity，Service，Provider，Receiver 四大组件中都会有的一个属性。 -->
        <!-- 总体来说它的主要作用是：是否支持其它应用调用当前组件。 -->
        <!-- 默认值：如果包含有intent-filter 默认值为true; 没有intent-filter默认值为false。 -->
        <!-- android:enabled="true" -->
        <!-- 这个属性用于指示该服务是否能够被实例化。如果设置为true，则能够被实例化，否则不能被实例化。默认值是true。 -->
        <!-- android:process=":UserService"-->
        <!--进程名冒号开头表明这虽然是远程进程 但是只允许当前程序调用-->
        <service
            android:name=".android.aidl.AIDLService2"
            android:enabled="true"
            android:exported="false"
            android:process=":UserService">
            <intent-filter>
                <action android:name="com.xm.studyproject.user" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>